body {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color: palegoldenrod;
}
h1 {
    color: rebeccapurple;
    font-size: 50px;
}

#options {
    margin-top: 20px;
    margin-bottom: 20px;
    }

button.btn {
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    color: whitesmoke;
    background-color: darkcyan;
    font-size: 20px;
    border-color: transparent;
    margin: 10px;
    padding: 8px 15px;
    border-radius: 10px;
}

button.btn:hover {
    background-color: purple; 
    }

#again {
    visibility: hidden;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    color: whitesmoke;
    background-color: darkcyan;
    font-size: 20px;
    border-color: transparent;
    margin: 10px;
    padding: 8px 15px;
    border-radius: 10px;
}

#again:hover {
    background-color: purple;
}

#result, #winner {
    font-size: 20px;
}

#second {
    margin-top: 20px;
    }